<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new birthday</title>
</head>
<body>
    <form action="/add" method="POST">
        <label for="name">Enter the name</label>
        <input type="text" name="name" id="name" >
        <label for="day">enter the date</label>
        <input name="day" type="text" id="day">
        <label for="month">enter your birth-month</label>
        <input type="text" id="month" name="month">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>