<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form action="/search/date" method="POST" style="margin: 20px;">
        <label>Search by date</label>
        <label for="month">enter your birth-month</label>
        <input type="text" id="month" name="month">
        <label for="day">enter day</label>
        <input type="text" id="day" name="day">
        <button type="submit">Search</button>
    </form>
</body>
</html>