<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form action="/search/name" method="POST" style="margin: 20px;">
        <label>Search by name</label>
        <label for="name">Enter the name</label>
        <input type="text" name="name" id="name" >
        <button type="submit">Search</button>
    </form>
</body>
</html>