<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <img src="cake.png" class="image">
        <a href="./all" class="vu headertext">view all</a>
        <a href="./add" class="add headertext">add</a>
        <a href="./search" class="search headertext">search and delete</a>
    </header>
    <hr>
</body>
</html>